<h1><%= title %></h1>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>
<p>Confirm Deletion - The delete is permanent.</p>
<form class="inventory-form" action="/inv/delete/<%= inv_id %>" method="post">
    <label for="inv_make">Car Make</label>
    <input type="text" id="inv_make" name="inv_make" readonly required value="<%= inv_make || '' %>"/>

    <label for="inv_model">Car Model</label>
    <input type="text" id="inv_model" name="inv_model" readonly required value="<%= inv_model || '' %>"/>

    <label for="inv_year">Year</label>
    <input type="number" id="inv_year" name="inv_year" min="0" step="1" readonly required value="<%= inv_year || '' %>"/>

    <label for="inv_price">Price</label>
    <input type="number" name="inv_price" id="inv_price" min="0" step="1" readonly required value="<%= inv_price || '' %>"/>

    <input type="hidden" name="inv_id" value="<%= inv_id %>" />
    <button type="submit">Delete Vehicle</button>
</form>
